html{
    height: 10px;
    min-height: 100%;

}
body {
    margin: 0;
    padding: 1px;
    background-color: #f2f6f8;
    
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 768px) {
    /* Modifica el estilo de elementos específicos en dispositivos móviles */
  }
  
  /* Estilos para pantallas más grandes */
  @media screen and (min-width: 769px) {
    /* Modifica el estilo de elementos específicos en pantallas más grandes */
  }

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

     /* a:link{
         color: #120449;
         text-decoration: none;
      }



          a:visited{
           color: #3b043d;
           text-decoration: none;
   }


       a:hover {
             color: #b43099;
             
   }

   a:active{
              color: #bad0e2;
              text-decoration: underline;
   }*/


   .marco{
          width: 100%;
          height: auto;
         border: 1px solid  #8a5f5f; 
        }

   
    .centrar{
        text-align: center;
    }
    

    .label{
        color: #dfe0e6;
    }

          
  header {
    /*position:relative;
    height: 180px;
    overflow: hidden;*/
    background-color:#ffffff;
    padding: 20px;
    border: 1px;
    color: rgb(216, 103, 10);

  }

  .menuapps {
    position: absolute;
    top: 20px;
    right: 20px;
    
    
  }
    
  video {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }


  li {
    margin: 0 10px;
  }


 /* a {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color:transparent;
    color: #eef2f3;
    text-decoration:none;
    transition: background-color 0.3s ease-in-out;
    text-shadow: 2px 2px 5px rgb(4, 1, 27);
    box-shadow: 1px 1px grey ;
    font-size: 1.3em;
  }*/

  hr {
    border-top: 1px solid #010513;
    margin: 1px 0;
    box-shadow: 0px 3px 3px rgba(3, 42, 75, 0.99);
    
    
  
  }

  /*a:hover {
    background-color: #d6daddcc;
  }*/


  header i .boton:hover{
    background-image: none;
    
  }

   footer {
    padding: auto;
    text-shadow: 2px 2px 5px grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;

  }

 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1%;
  }

  footer .container{
    color: #1e0fac;
    margin: 1px;
    font-size: small;
    padding: 130px;
   
    
    
    
  }

  
  p {
    text-align: center;
  }

  
h3{
    text-align: center;
    color: #120449;
}
  

/*.menu{
    list-style: none;
    text-align: center;
    color: #386691;
    padding: 2px;
}
.menu li{
    display: inline-block;
    padding: 10px;
    margin: 10px ;
    background-color:transparent;
    border-radius: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: normal;
    
   
}*/

.nav-enlace{
  display: inline-block;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
 
}
.nav-enlace:hover{
  background: #2c4377;
  
}

nav{
  background: #02164d;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
 


}

.nav-boton{
  background: #043a9e;
  color: #d6c1c6;
  padding: 10px 0px;
  border: 1px solid #7a530a;
  display: none;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 2px 2px 5px grey;
  font-size: larger;

}
@media (max-width:600px) {
  nav{
    background: transparent;
    flex-direction: column;
    text-align: center;
  }
  .nav-enlace{
    margin: 10px 0px;
    background-color: #01213f;
    box-shadow: 2px 2px 5px grey;
    border: 1px solid #7a530a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
  }
 
  .nav-boton{
    display: inline-block;

  }
  .desaparece{
    display: none;
    
  }
}


   /*ESTILO PARA QR*/

   
  
  h2 {
    font-weight: 400;
  }
  p {
    font-weight: 300;
  }
  
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .text-center {
    text-align: center;
  }
  .columna {
    background: transparent;
    color: #053ae6;
    border: 1px solid grey;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
    
    width: 25%;
    box-sizing: border-box;
  }
   
  @media (max-width: 1070px) {
    .columna {
      width: 45%;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 600px) {
    .columna {
      width: 100%;
      margin-bottom: 20px;
  }
}