html{
    height: auto;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 1;
    
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 768px) {
    /* Modifica el estilo de elementos específicos en dispositivos móviles */
  }
  
  /* Estilos para pantallas más grandes */
  @media screen and (min-width: 769px) {
    /* Modifica el estilo de elementos específicos en pantallas más grandes */
  }
}
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

      a:link{
         color: #120449;
         text-decoration: none;
      }



          a:visited{
           color: #107707;
         text-decoration: none;
   }


       a:hover {
             color: #b43099;
             text-decoration: underline;
   }

   a:active{
              color: #5252b6;
              text-decoration: underline;
   }




   .marco{
          width: 100%;
          height: auto;
         border: 1px solid  #bb0909; 
        }

   
    .centrar{
        text-align: center;
    }
    



   /* .boton{
        background-color: #f0f8ff;
        border: 1px solid #43435c;
        text-decoration: none;
        display: inline-block;
        padding: 5px;
    }



    .boton:hover{
        background-color: #43435c;
        color: #f0f8ff;
    }*/




    label{
        color: #bb0909;
    }




    h3{
        color: #040472 5px;
        font-family: 'Dosis', sans-serif;
        vertical-align: bottom;

    }



          
  header {
    position: relative;
    height: 300px;
    overflow: hidden;
  }

  
  
  video {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }



  /*.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }*/
  
  
  /*header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    z-index: 9999;
  }*/



 /* nav {
    display: flex;
    justify-content: center;
    
  }*/



  /*ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }*/



  li {
    margin: 0 10px;
  }




  a {
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    background-color:#e0e8eccc;
    color: #0b4952;
    text-decoration:none;
    transition: background-color 0.3s ease-in-out;
    text-shadow: 2px 2px 5px grey;
    box-shadow: 2px 2px grey ;
    font-size: 1.3em;
  }





  a:hover {
    background-color: #2d7ac2cc;
  }



  header i .boton:hover{
    background-image: none;
    
  }

 
  footer {
    background-color: #ffffffcc;
    color: #15088f;
    padding: 20px;
    text-shadow: 2px 2px 5px grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;

  }



  container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  
  p {
    text-align: center;
  }

  
h3{
    text-align: center;
    color: #120449;
}
  
/*div.contenedor{
    text-align: center;
    width: 80%;
    height: 20%;
    overflow:auto;
    margin: auto;
    border: 0.01px d20ashed #195e9b;
}*/


.menu{
    list-style: none;
    text-align: center;
}
.menu li{
    display: inline-block;
    padding: 5px;
    margin: 5px ;
    background-color:transparent;
    border-radius: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
   
}








   